<div class="container">
  <h3>Meals</h3>
  <div class="row justify-content-center">
    <% @meals.each do |meal| %>
      <div class="col-md-3">
        <div class="card">
          <div class="card-body" style="transform: rotate(0);">
            <div class="text-center">
              <h3><%= meal.title %></h3>
              <p><%= meal.description %></p>
            </div>
            <div class="d-flex justify-content-between">
              <p>Cap.: <%= meal.rating %></p>
              <p>Rating: <%= meal.capacity %></p>
            </div>
            <a href="<%= meal_path(meal) %>" class="stretched-link"></a>
          </div>
          <% if policy(meal).edit? && policy(meal).destroy? %>
            <div class="card-footer d-flex justify-content-between align-items-center">
              <div>
                <%= link_to "edit", edit_meal_path(meal) %>
              </div>
              <div>
                <%= link_to "destroy", meal_path(meal), method: :delete, data:{confirm: "Are you Sure?"} %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="row mt-3">
    <div class="col-8 offset-2">
      <%= link_to "create a new meal", new_meal_path, class: "btn btn-primary btn-block" %>
    </div>
  </div>
</div>